<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="databaseHost" value=".\SQLEXPRESS"/>
      <add key="databaseUser" value="********"/>
      <add key="databasePass" value="********"/>
      <add key="databaseName" value="casestudy"/>
    </appSettings>
</configuration>
