<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="databaseHost" value=".\SQLEXPRESS"/>
      <add key="databaseUser" value="casestudy"/>
      <add key="databasePass" value="password"/>
      <add key="databaseName" value="casestudy"/>
    
      <add key="databaseUserAdm" value="casestudy_administration"/>
      <add key="databasePassAdm" value="password"/>
      <add key="databaseUserMgv" value="casestudy_mitgliederverwalter"/>
      <add key="databasePassMgv" value="password"/>
      <add key="databaseUserStv" value="casestudy_standplatzverwalter"/>
      <add key="databasePassStv" value="password"/>
      <add key="databaseUserQav" value="casestudy_qualitaetsverantwortlicher"/>
      <add key="databasePassQav" value="password"/>
    </appSettings>
</configuration>
